@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add custom CSS to control the dropdown height and position */
.custom-select-container {
    position: relative;
    max-width: 200px;
    margin: 0 auto;
  }
  
  .custom-select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .custom-select-options {
    position: absolute;
    top: 100%; /* ensures it opens directly below the select box */
    left: 0;
    width: 100%;
    max-height: 150px; /* set a max height for the dropdown */
    overflow-y: auto; /* enable scrolling if options exceed max height */
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    z-index: 1000; /* make sure it's above other content */
    display: none; /* hidden by default */
  }
  
  .custom-select-options.show {
    display: block; /* show the dropdown options */
  }
  /* Custom scrollbar for the Columns component */
.custom-scrollbar::-webkit-scrollbar {
  width: 2px; /* width of the scrollbar */
  height: 4px; /* height of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* color of the scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* color of the scrollbar thumb */
  border-radius: 10px; /* roundness of the scrollbar thumb */
  border: 2px solid #f1f1f1; /* creates padding around the thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* color of the scrollbar thumb on hover */
}